.header{
  background-color: lightblue;
  height: 200px;
  width: 80%;
  margin: 0 auto;
}

.content{
background-color: darkred;
height: 600px;
width: 100%;
margin-top: 10px;
}

.column{
background-color: grey;
height: 550px;
width: 250px;
padding-left:  10px;

}

.column{

}

.column{

}
